
body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-family: 'Montserrat', sans-serif;
  color: #583D37;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      text-underline: none;
      font-size: 24px;
      color: #583D37;

      img {
        margin: 0 50px 0 50px;
      }
    }

  }

  main {
    background: #FFF8DE;
    height: 100%;
    display: flex;
    justify-content: center;


    .inner {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;



      .leftContent {
        width: 50%;
        margin: 0 auto;
      }

      .rightContent {
        width: 50%;
        p {
          margin: 0;
          padding: 0;


          &:nth-of-type(1) {
            font-size: 48px;

          }

          &:nth-of-type(2) {
            font-size: 48px;
            text-align: right;
          }

          &:nth-of-type(3) {
            font-size: 35px;
          }

          &:nth-of-type(4) {
            font-size: 28px;
          }
          i {
            font-size: 27px;
          }

        }

        button {
          margin-top: 10%;
          background: white;
          border: none;
          display: flex;
          align-items: center;
          justify-content:center;
          a {
            text-decoration: none;
            text-underline: none;
            font-size: 24px;
            color: #583D37;
           margin: 20px 40px 20px 40px;
            background: white;
          }
        }
      }


    }
  }
}