body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-family: 'Montserrat', sans-serif;
  color: #583D37;
  box-sizing: border-box;
  width:100vw;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      text-underline: none;
      font-size: 24px;
      color: #583D37;

      img {
        margin: 0 50px 0 50px;
      }
    }

  }

  //
  main {
    background: #FFF8DE;
    height: 100%;
    display: flex;
    justify-content: center;

    .central {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 48px;

    }

    .inner {
      width: 80%;


      section {
        display: flex;
        margin: 0 auto;


        .leftContent {
          width: 50%;

          img {
            width: 100%;
          }
        }

        .rightContent {
          width: 50%;
          display: flex;
          align-items: center;
          position: relative;

          p {
            font-size: 35px;
            position: absolute;
            top: 0;

            &:nth-child(2) {
              font-size: 30px;
              align-self: center;
              position: relative;
            }

            button {
              width: 54px;
              height: 54px;
              border-radius: 50%;
              border: none;
              font-size: 18px;
              color:#FFF8DE;
              background: #a68b63;

            }

          }
        }
      }

      .gDesign {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        .pictures {
          display: flex;
        }
        p {
          width: 100%;
         font-size: 35px;
          margin-top: 0;
          padding-top: 0;
        }
      }
      .line {
        display: flex;
        justify-content: flex-start;
         hr {
           display: flex;
           width: 60%;
         }
      }

      .rembrand {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        p {
          font-size: 30px;
          margin: 0;
          padding: 0;
        }
        .right{
        }
        }
        img {
          padding: 0;
          margin: 0;
          border: none;
        }


      }
    }
  }
