* {
  box-sizing: border-box;

}

body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-family: 'Montserrat', sans-serif;
  color: #583D37;


  header {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      text-underline: none;
      font-size: 24px;
      color: #583D37;

      img {
        margin: 0 50px 0 50px;
      }
    }

  }

  //
  main {
    background: #FFF8DE;
    height: 100%;
    display: flex;
    justify-content: center;

    .central {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 48px;

    }

    .inner {
      width: 80%;


      section {
        display: flex;
        margin: 0 auto;


        .leftContent {
          width: 50%;

          img {
            width: 100%;
          }
        }

        .rightContent {
          width: 50%;
          display: flex;
          align-items: center;
          position: relative;

          p {
            font-size: 35px;
            position: absolute;
            top: 0;

            &:nth-child(2) {
              font-size: 30px;
              align-self: center;
              position: relative;
            }

            button {
              width: 54px;
              height: 54px;
              border-radius: 50%;
              border: none;
              font-size: 18px;
              color:#FFF8DE;
              background: #a68b63;

            }

          }
        }
      }

      .gDesign {
        display: flex;
        justify-content:center;
      }

      p {
        font-size: 35px;
      }

      .rembrand {
        //box-sizing: border-box;
        display: flex;
        justify-content: center;
        //height: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0;

        p {
          font-size: 35px;

          padding: 0;
          margin: 0;
        }
        img {
          padding: 0;
          margin: 0;
        }


      }
    }
  }
}