header {
  background: red;
  display: flex;
  justify-content: space-between;

  .keksBox {
    background: greenyellow;
    width: 500px;

    .keks1:nth-child(even) {
      font-size: 40px;

    }
  }
}
