header {
  width: 100%;

  div {
    display: flex;
    justify-content: space-around
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("https://cs6.pikabu.ru/images/big_size_comm/2017-05_6/1495800361112264794.jpg");
  background-size: cover;


  div {
    width: 30%;
    height: 200px;
    margin: 10px;
    opacity: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
  }

  .first {
    background: red
  }

  .second {
    background: orange
  }

  .third {
    background: yellow
  }

  .four {
    background: green
  }

  .fifth {
    background: aqua
  }

  .sixth {
    background: blueviolet
  }
}

footer {
  display: flex;
  justify-content: space-around;

  a {
    text-underline: none;
    text-decoration: none;

    &:nth-child(1) {
      color: red;
    }

    &:nth-child(2) {
      color: green;

    }

    &:nth-child(3) {
      color: blue;
    }

    &:nth-child(4) {
      color: yellow;

    }


  }

}