* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Vollkorn SC', serif;

  header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      height: 60%;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      display: flex;
      align-items: center;
      margin: 0;
    }

    div {
      width: 100%;
      height: 40%;
      border: 2px solid #C5AD34;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: 'Nunito', sans-serif;

      a {
        text-decoration: none;
        text-underline: none;
        color: black;
      }
    }
  }

  main {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("img/bgImage.png") no-repeat center;
    background-size: cover;

    div {
      height: 380px;
      position: relative;

      &:nth-child(1) {
        width: 35%;
        background: #EB8484;
        border: 2px solid transparent;

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          top: -10%;
          right: -10%;
        }
      }

      &:nth-child(2) {
        width: 25%;
        background: white;
        border: 2px solid #DBCC80;

        .textContent {
          background: #EB8484;
          height: 100%;
          width: 100%;
          position: absolute;
          top: -10%;
          left: -10%;
          padding: 20px;

          p {
            width: 100%;
            height: 50%;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            font-family: 'Raleway', sans-serif;

            &:nth-child(1) {
              text-align: right;
            }

            &:nth-child(2) {
              text-align: left;
            }
          }
        }
      }
    }
  }

  footer {
    height: 10%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}