//main {
//  padding: 50px;
//  background: #2b81ac;;


  body {
    background: #3399cc;
    color: white;

    div {
      width: 1000px;
      background: green;
    }

    ul {
      width: 1000px;
      padding: 0;
      box-sizing: border-box;
      margin-left: 0;
      list-style: none;
      border: 5px solid white;
      align-items: center;
      text-align: center;

      :nth-child(1) {
        background:green;
      }

      li {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid white;
        height: 100px;
        span {
          font-size: small;
          vertical-align: super;
        }

      }

      .small {
        width: 25%;
        //height: 60px;
      }

      .medium {
        width: 50%;
        //height: 60px;
      }

      .big {
        width: 100%;
        //height: 60px;

      }

    }

  }
