:root {
  --small: 25%;
  --medium: 50%;
  --big: 100%;
  --wh: 60px;

  * {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }

}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background: #3399cc;
  color: white;

  .weatherBlock {
    @include center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;


    h1 {
      width: var(--big);
      text-align: left;
    }

    div {
      flex-wrap: wrap;
      border: 0.1px solid white;
      height: var(--wh);
      @include center;


      span {
        text-align: center;
        position: relative;
      }

      .city {
        width: var(--big);
      }

      .degree {
        &:before {
          content: "C";
          position: absolute;
          right: -10px;
        }

        &:after {
          content: "o";
          position: absolute;
          top: -8px;
          right: -25px;
          font-size: 12px;

        }
      }
    }

    .small {
      width: var(--small);
      //height: 60px;
    }

    .medium {
      width: var(--medium);
      //height: 60px;
    }

    .big {
      width: var(--big);

    }

  }

}
